{% extends 'base.html.twig' %}

{% block title %}Post Show{% endblock %}

{% block body %}
<style>
    .post{
        border-radius: 10px;
        box-shadow: 0 10px 16px rgb(0, 0, 0, 0.25);
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 40px;
    }
    img{
        border-radius: 10px;            
    }
</style>

    <section class="post">
        <article>
            <h2>{{ post.title }}</h2>
            <div class="metadat">
                {{ post.createdAt | date('Y-m-d')}} at {{ post.createdAt | date('H:i')}} by John
                <span class="badge bg-success">{{ post.category.title }}</span>
                5 comment
            </div>
            <div class="content">
                <img src="https://picsum.photos/seed/picsum/300/200" alt="" class="my-3">
                <p>{{ post.content }}</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </section>

    <h2 class="mt-5">5 Comments</h2>
    <section class="mt-5">
        <div class="card-header">
            Mamut <small>2021-10-16 at 11:40</small>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iusto tempora quas nihil alias dolores quam enim eveniet doloribus debitis!</p>
        </div>
    </section>
{% endblock %}